@highlighted-bg: #F0F1F5;
@text-gray: #787878;
@light-gray: #C2C2C2;
@radar-blue: #1c95f9;
@navbar-background: #fafafa;
@navbar-unit-size: 30px;


body {
  font-size: medium;
  background: @radar-blue; 
  overflow: hidden;
}

#container {
  padding-top: 90px;
  width: 100%;
  height: 100%;
}

.navbar {
  div {
    margin: 0 1rem;
    a {
      float: right;
      line-height: @navbar-height;
      padding-left: 20px;
    i {padding:10px;}
    }
  }
  .get-app {
    float: right;
    a {line-height: 18px;}
  }
 
  div.logo-container {
    margin-left: @navbar-unit-size; 
    float: left;  
    padding: (@navbar-height - @navbar-unit-size) / 2;
   div.logo {      
    border-radius: 50%;
    width: @navbar-unit-size !important;
    height: @navbar-unit-size !important;
    margin:0;
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: center no-repeat;
        background-image: url(/dist/radar-tail.png);
        background-size: contain;
      } 
      &.spin {
        -webkit-animation: spin 1s infinite linear;
      } 
    }
  }

  @-webkit-keyframes spin {
   0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);} 
  }


  background: @navbar-background;
  box-shadow: 0px 0px 5px #333333;
  a:link { color: #3c3c3c; }
  a:visited {
    text-decoration: none;
    color: #3c3c3c;
  }
  a:hover {
    color: #1c95f9;
  }
}
