@highlighted-bg: #F0F1F5;
@text-gray: #787878;
@light-gray: #C2C2C2;
@radar-blue: #1c95f9;
@navbar-background: #fafafa;
@navbar-unit-size: 30px;
@navbar-unit-size-small: 10px;


body {
  background: @radar-blue; 
  overflow-x: hidden;
  text-align: center;
  min-width: @landing-unit-size * 3;
}

#container {
  width: 100%;
  height: 100%;
}

.navbar {
  div {
    height:@navbar-height;
    a {
      line-height: @navbar-height;
      font-size: @font-size-h4;
    }
  }

  a.logo {
      display: inline-block;
      background: center no-repeat;
      background-image: url(/dist/radar-tail.png);
      background-size: contain;
      width: @navbar-unit-size*1.3 !important;
      height: @navbar-unit-size*1.3 !important;
      margin: (@navbar-height - @navbar-unit-size*1.3) / 2 auto;  
      &.spin { -webkit-animation: spin 1s infinite linear;}    
    } 

  @-webkit-keyframes spin {
     0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);} 
  }


  background: @navbar-background;
  box-shadow: 0px 0px 5px #333333;
  a:link { color: #3c3c3c; }
  a:visited {
    text-decoration: none;
    color: #3c3c3c;
  }
  a:hover {
    color: #1c95f9;
  }
}
