.landing-container {height: 100%}
#landing{
  .intro { 
    color: #ffffff;
  }
  .phone {
    max-height: 400px;
    height: 100%;
    background: center no-repeat;
    background-image: url(phone@2x.png);
    background-size: contain;
  }
}