div.login-container{
  opacity: 1;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  &.hidden {opacity: 0;}
  transition: opacity  0.5s ease-out;
  .login{
    background-color: white;
    margin-right: 25%;
    margin-top: 30px;
    max-height: 160px;
    transition: max-height 0.5s ease-in-out;
    .login-header {
      padding: 9px 15px;
      border-bottom: 1px solid #eee;
    }
    .login-footer {
      padding: 9px 15px;
      border-top: 1px solid #eee;
    }
    .login-body {
      div.phone-prompt-text {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        &.expanded {
          max-height: 100px;
        }
      }
      padding-top: 15px;
      .login-code {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }
    }
    .left {
      width: 90%;
      float: left;
    }
    .right{
      margin-bottom: 15px;
      height: 90px;
      width: 10%;
      float: right;
      i {
        display: inline-block;
        margin-top: 20px ;
        text-align: center;
        font-size: @font-size-h3
      }
    }
    .form-control { padding: 0 5px !important;}
    div#phoneInput {
      padding: 9px 15px;
      height: 45px;
      div.submit-phone {
       float: right; 
       width: 20%;
       border-left: 1px solid #eee;
       i {
          pointer-events: none;
          &.active {
            cursor: pointer;
            pointer-events: all;
            color: @radar-blue;
            &.fa-check {
              cursor: default;
              padding: 0.5rem 0;
              line-height: 2rem;
            }
          }
        }
      }
      input.phoneInput {
        text-align: center;
        width: 80%;
        float: left;
      }
    }
    div.login-code{
      div.text {padding-top: 7px; padding-bottom: 5px;}
      padding: 9px 15px 0;
      .key {
        input.keyInput {
          text-align: center;
          width: 80%;
          float: left;          
        }
        div.submit-key {
          float: right; 
          width: 20%;
          border-left: 1px solid #eee;
          i {
            pointer-events: none;
            &.active {
              cursor: pointer;
              pointer-events: all;
              color: @radar-blue;
            }
          }
        }
      }
    }
    button{
      background: none;
      pointer-events:none;
      font-family: 'Montserrat', sans-serif;
      border: none;
      i {font-weight: 900;}
      &.active {
        background: none;
        box-shadow: none;
        color: @radar-blue;
        pointer-events: all;
      }
      &:hover,&:active,&:focus {
        background: none;
        box-shadow: none;
      }
    }

    .form-control {
      border-top: none;
      border-right: none;
      border-left: none;
      box-shadow: none;
      &:focus{
        box-shadow:  0 4px 2px -2px rgba(0,0,0,.075),  0 4px 2px -2px rgba(102, 175, 233, 0.6);
       -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,.075),  0 4px 2px -2px rgba(102, 175, 233, 0.6);
      }
      &.error {
       box-shadow:  0 4px 2px -2px rgba(0,0,0,.075),  0 4px 2px -2px rgba(255, 0, 0, 0.6);
      -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,.075),  0 4px 2px -2px rgba(255, 0, 0, 0.6);
        border-color: rgba(255, 99, 71, 0.6);
      }
      &.complete {
        border: none;
        box-shadow: none;
      }
    }
  &.expanded {
    max-height: 230px;
    .login-code {
        max-height: 100px;
      }
    } 
  }
  .flipper {
    position: relative;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    height: 230px;
    &.submitted {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
  }

  .flip-container, .front, .back {
    height: 230px;
  }

  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    top: @padding-large-vertical;
    left: 0;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
