li.vote {
  height: auto;
  max-height: @padding-large-vertical * 4;
  overflow: hidden; 
  transition: max-height 0.5s ease-in-out;
  div.header { padding-bottom: @padding-large-vertical;}
  input {
    box-shadow: none;
    border-bottom: none;
    text-align: center;
    border-radius: 0;
  }

  .block {
    max-height: auto;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    &.back {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  .form-control:focus {
    border: 1px solid #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  button {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    color: #555555;
  }

  button:hover {
    background-color: @highlighted-bg;
    color: #455B8E;
  } 

  &.expanded {
    max-height: 100%;
    background-color: @highlighted-bg;
    color: #455B8E;
  }
}